<div class="about-header">

    <div class="about-title">
        <a href="{% link index.markdown%}">
            <img src="/assets/me.png" alt="Heekyung Kim" />
        </a>

        <a href="{% link index.markdown%}"class="site_name">
            <h2 id="title">Heekyung Kim</h2>
        </a>
        
        <a href="{% link index.markdown%}" class="site_name">
            <h3 id="korean-name">김희경</h3>
        </a>

        </div>
            <p class="title">Master Student in Computer Science</p>
            <p class="tagline">@Northeastern University</p>
        </div>

    </div>
</div>


<ul class="social about-footer ">
    
    <a href="https://github.com/hkimkim" target="_blank" style="text-decoration: none; color: #000000;">
        <li>
            <i class="icon-github-circled"></i>
        </li>
    </a>
    
    <a href="https://www.linkedin.com/in/heekyung-kim" target="_blank" style="text-decoration: none; color: #000000;">
        <li>
            <i class="icon-linkedin-squared"></i>
        </li>
    </a>

    <!-- <a href="mailto:heekyung.kim27@gmail.com" target="_blank">
        <li>
          <i class="icon-mail-alt"></i>
        </li>
    </a> -->

    <!-- <a id="email" href="mailto:kim.heek@northeastern.edu">
        <code class="language-plaintext">kim.heek [at] northeastern [dot] edu</code>
    </a> -->
</ul>


<p class="about-footer ">Last Updated: May 2022</p>

