---
layout: default
---

<li class = "posts-buttom">

    <p class="post">
      Hi, I am Heekyung. 
    </p>

    <p class="post">
      I am a <b>masters student of computer science</b> at Northeastern University in Boston, MA.
    </p>

    <p class="post">
      Prior to joining the masters program, I was a business management major with strong interests in technology and programming.
       The interest of the two led me to pursue data analyst internships at a NLP startup and pharmaceutical company, as well as a reseach assisstant role at a Corporate Venture Capital. 
       At these roles, I used programming as a tool to analyze various types of data (text, voice, patient number.. etc) and as my creative outlet to solve daily tasks.
       While I enjoyed using programming as a tool to analyze data and understand business, I realized that I wanted to use programming to build products and services, which led me to pursue a degree in Computer Science.
    </p>

    <p class="post">
      My current interests are in XR and my current goal is to find a co-op or an internship where I can gain real-life experience in software-engineering,
       which can help me build a career in the tech industry.
    </p>
    <br>
</li>

<li>
  <h3 >News</h3>
  <ul class="post">
      <li>Mar 2022: Attended <a href="https://www.mitrealityhack.com/">@MIT Reality Hack</a> (XR Hackathon) -- Our team <a href="https://devpost.com/software/sensorium?ref_content=user-portfolio&ref_feature=in_progress">Sensorium</a> made it to semi-finals! </li>
      <li>Feb 2022: Attended my first hackathon <a href="https://hackbeanpot.com/" target="_blank">@hackbeanpot</a> and sucessfully built <a href="https://github.com/hkimkim/astro-trash" target="_blank">Astro Trash!</a>-- my hackathon project</a></li>
      <li>Jan 2021: Started MSCS at Khoury College of Computer Science Northeastern</li>
  </ul>
  <br>
</li>


<li>
    <h3>Misc</h3>
    <ul class="post">
        <li>My hometown is Seoul, Korea 🇰🇷 but I grew up moving to different countries: Tokoyo, Japan; Lusaka, Zambia; Canberra, Australia; Abu Dhabi, UAE; Addis Ababa, Ethiopia; and now Boston, USA! I look forward to exploring more citities! </li>
        <li>I am a huge foodie. Currently exploring Boston 😋 </li>
        <li>I am a seasonal knitter. I knit every winter! </li>
        <li>I like to play Age of Empires II🤴 Currently aiming to beat the Hard AI in an hour.</li>
        <li> I am fluent in both Korean and English.</li>
    </ul>
</li>