---
layout: default
---

<li class = "posts-buttom">

    <p class="post">
      Hi, I am Heekyung. 
    </p>

    <p class="post">
      I am a <b>masters student of computer science</b> at Northeastern University in Boston, MA.
    </p>

    <p class="post">
      Prior to joining the masters program, I was a business management major with strong interests in technology and programming.
       The interest of the two led me to pursue data analyst internships at a NLP startup and pharmaceutical company, as well as a job as a Corporate Venture Capital Research Assistant. 
       At these roles, I used programming as a tool to analyze various types of data (text, voice, patient number.. etc) and as my creative outlet to solve daily tasks.
       While I enjoyed using programming as a tool to analyze data and understand business, I realized that I wanted to use programming to build products and services, which led me to pursue a degree in Computer Science.
    </p>

    <p class="post">
      My current interests are in XR, especially in AR, 
      and my current goal is to find a co-op or an internship where I can gain real-life experience in software-engineering,
       which can help me build a career in the tech industry.
    </p>
</li>

<li>
    <h2>Misc</h2>
    <ul>
        <li>My hometown is Seoul, Korea 🇰🇷 but I grew up moving to different countries: Tokoyo, Japan; Lusaka, Zambia; Canberra, Australia; Abu Dhabi, UAE; Addis Ababa, Ethiopia; and now Boston, USA! I look forward to exploring more citities! </li>
        <li>I am a huge foodie. Currently exploring Boston 😋 </li>
        <li>I am a seasonal knitter. I knit every winter! </li>
        <li>I like to play Age of Empire II🤴 Currently hoping I can one day beat the Hard AI in an hour.</li>
        <li> I am fluent in both Korean and English.</li>
    </ul>
</li>