---
layout: default
---
<div class="container">

    <div class="card mb-3 shadow-sm">

        <div class="row g-0">
          <div class="col-md-3 col-lg-3 py-1 px-2">
            <img src="../assets/img/electronics.png" class="img-fluid rounded-start px-4 py-4" alt="..." style="height: 12rem; width: 18rem;">
          </div>
          <div class="col-md-9 col-lg-9 ">
            <div class="card-body">
              <h5 class="card-title mb-0">Rentronics</h5>
              <small class="card-subtitle mt-0 text-muted">Northeastern • Team Project • Spring 2022</small>
              <p class="card-text"> Web Application that allows users to rent and lease electronics in the region. Best Buy Remote API was used to retrieve information about products.</p>
                <span class="badge rounded-pill bg-secondary">HTML/CSS</span>
                <span class="badge rounded-pill bg-secondary">Bootstrap</span>
                <span class="badge rounded-pill bg-secondary">JavaScript</span>
                <span class="badge rounded-pill bg-secondary">React</span>
                <span class="badge rounded-pill bg-secondary">Redux</span>
                <span class="badge rounded-pill bg-secondary">Node.js</span>
                <span class="badge rounded-pill bg-secondary">REST API</span>
                <span class="badge rounded-pill bg-secondary">MongoDB</span>
                <span class="badge rounded-pill bg-dark fg-white">      
                    <a href="https://github.com/hkimkim/rentronics" target="_blank" style="text-decoration: none; color: #FFFFFF;">
                        <i class="icon-github-circled"></i>github
                    </a>
                </span>

                <span class="badge rounded-pill bg-warning">      
                    <a href="https://rentronics.netlify.app/" target="_blank" style="text-decoration: none; color: #FFFFFF;">
                         <!-- <i class="fa-solid fa-play"></i>demo  -->
                        <i class="bi bi-play-btn"></i>demo
                    </a>
                </span>

            </div>

          </div>
        </div>
    </div>

    <div class="card mb-3 shadow-sm">

        <div class="row g-0">
          <div class="col-md-3 col-lg-3 py-1 px-2">
            <img src="../assets/img/astro-trash.png" class="img-fluid rounded-start px-2 py-2" alt="..." style="height: 12rem; width: 18rem;">
          </div>
          <div class="col-md-9 col-lg-9 ">
            <div class="card-body">
              <h5 class="card-title mb-0">AstroTrash!</h5>
              <small class="card-subtitle mt-0 text-muted">Hackathon • Spring 2022</small>
              <p class="card-text">A web browser game that informs players about the dangers of space junk. The game was developed using Typescript and Node.js.</p>
                <span class="badge rounded-pill bg-secondary">TypeScript</span>
                <span class="badge rounded-pill bg-secondary">Node.js</span>
                <span class="badge rounded-pill bg-secondary">PixiJS</span>
                <span class="badge rounded-pill bg-dark fg-white">      
                    <a href="https://github.com/hkimkim/astro-trash" target="_blank" style="text-decoration: none; color: #FFFFFF;">
                        <i class="icon-github-circled"></i>github
                    </a>
                </span>

                <span class="badge rounded-pill bg-warning">      
                    <a href="https://astro-trash.netlify.app/" target="_blank" style="text-decoration: none; color: #FFFFFF;">
                        <!-- <i class="fa-solid fa-play"></i>demo -->
                        <i class="bi bi-play-btn"></i>demo
                    </a>
                </span>

            </div>

          </div>
        </div>
    </div>


    <div class="card mb-3 shadow-sm">

        <div class="row g-0">
          <div class="col-md-3 col-lg-3 py-1 px-2">
            <img src="../assets/img/spenzoo.png" class="img-fluid rounded-start px-2 py-2" alt="..." style="height: 12rem; width: 18rem;">
          </div>
          <div class="col-md-9 col-lg-9 ">
            <div class="card-body">
              <h5 class="card-title mb-0">SpenZoo</h5>
              <small class="card-subtitle mt-0 text-muted">Northeastern • Team Project • Fall 2021</small>
              <p class="card-text">SpenZoo is an expense tracking Android app that cultivates budgeting and expense tracking habits by incorporating zoo game feature. It was developed using Object Oriented Design using java and performs CRUD operations on Firebase Realtime Database.
                Motion sensor was also implemented to enable interaction with users and their virtual zoo animals.</p>
                <span class="badge rounded-pill bg-secondary">Java</span>
                <span class="badge rounded-pill bg-secondary">Android Studio</span>
                <span class="badge rounded-pill bg-secondary">Firebase Realtime Database</span>

                <span class="badge rounded-pill bg-dark fg-white">      
                    <a href="https://github.com/hkimkim/spenzoo" target="_blank" style="text-decoration: none; color: #FFFFFF;">
                        <i class="icon-github-circled"></i>github
                    </a>
                </span>

                <span class="badge rounded-pill bg-warning">      
                    <a href="https://www.youtube.com/watch?v=8kK2egKmcdg" target="_blank" style="text-decoration: none; color: #FFFFFF;">
                        <!-- <i class="fa-solid fa-play"></i>demo -->
                        <i class="bi bi-play-btn"></i>demo
                    </a>
                </span>

            </div>
          </div>
        </div>
    </div>


    <div class="card mb-3 shadow-sm">

        <div class="row g-0">
          <div class="col-md-3 col-lg-3 py-1 px-2">
            <img src="../assets/img/Linux-Shell.png" class="img-fluid rounded-start px-2 py-2" alt="..." style="height: 12rem; width: 18rem;">
          </div>
          <div class="col-md-9 col-lg-9 ">
            <div class="card-body">
              <h5 class="card-title mb-0">My Own Unix Shell</h5>
              <small class="card-subtitle mt-0 text-muted">Northeastern • Summer 2022</small>
              <p class="card-text">This program emulates an UNIX shell. It executes four built-in functions (cd, help, quit, and joke) and other UNIX commands provided in /bin directory of the computer system.</p>
                <span class="badge rounded-pill bg-secondary">c</span>

                <span class="badge rounded-pill bg-dark fg-white">      
                    <a href="https://github.com/hkimkim/unix_shell" target="_blank" style="text-decoration: none; color: #FFFFFF;">
                        <i class="icon-github-circled"></i>github
                    </a>
                </span>

                <span class="badge rounded-pill bg-warning">      
                    <a href="https://astro-trash.netlify.app/" target="_blank" style="text-decoration: none; color: #FFFFFF;">
                        <!-- <i class="fa-solid fa-play"></i>demo -->
                        <i class="bi bi-play-btn"></i>demo
                    </a>
                </span>

            </div>

          </div>
        </div>
    </div>



    <div class="card mb-3 shadow-sm">

        <div class="row g-0">
          <div class="col-md-3 col-lg-3 py-1 px-2">
            <img src="../assets/img/Mastermind.jpeg" class="img-fluid rounded-start px-2 py-2" alt="..." style="height: 12rem; width: 18rem;">
          </div>
          <div class="col-md-9 col-lg-9">
            <div class="card-body">
              <h5 class="card-title mb-0">Master Mind</h5>
              <small class="card-subtitle mt-0 text-muted">Northeastern • Spring 2021</small>
              <p class="card-text">This program simulates the MasterMind Game for one player via GUI. It was developed using Object Oriented Design and was designed based on the Model-View-Controller design.</p>
                <span class="badge rounded-pill bg-secondary">Python</span>
                <span class="badge rounded-pill bg-secondary">Python Turtle</span>
                <span class="badge rounded-pill bg-secondary">PyUnit</span>

                <span class="badge rounded-pill bg-dark fg-white">      
                    <a href="https://github.com/hkimkim/Mastermind" target="_blank" style="text-decoration: none; color: #FFFFFF;">
                        <i class="icon-github-circled"></i>github
                    </a>
                </span>

                <span class="badge rounded-pill bg-warning">      
                    <a href="https://astro-trash.netlify.app/" target="_blank" style="text-decoration: none; color: #FFFFFF;">
                        <!-- <i class="fa-solid fa-play"></i>demo -->
                        <i class="bi bi-play-btn"></i>demo
                    </a>
                </span>

            </div>
          </div>
        </div>

    </div>


     
   
  </div>

  
